:root {
  --primary-color: #222;
  --secondary-color: #fff;
  --font-family: "Open Sans", sans-serif;
  --font-weight-h2: 500;
  --font-size-h2: 35px;
  --font-size: 14px;
  --input-padding: 0.75em;
  --button-background: #0069d9;
  --button-color: #fff;
  --border-radius: 2px;
  --border-color: #ced4da;
  --border-color-hover: #80bdff;
}

* {
  padding: 0;
  box-sizing: border-box;
  margin-bottom: 5px;
}

body {
  background-color: #f8f9fa;
  color: #495057;
  font-family: var(--font-family);
  font-size: var(--font-size);
}

.container {
  width: 360px;
  margin: 50px auto;
  background-color: #ffffff;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  color: var(--primary-color);
}

label {
  font-size: var(--font-size);
  font-weight: 400;
  margin-bottom: 5px;
  padding-left: 5px;
  cursor: pointer;
  font-weight: bolder;
}

.spacer {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-control {
  display: block;
  width: 100%;
  height: 40px;
  padding: 10px;
  font-size: 15px;
  font-family: var(--font-family);
  font-weight: 400;
  line-height: 1.5;
  border: 1px solid var(--border-color);
}

.form-control:focus {
  border-color: var(--border-color-hover);
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.form-check-label {
  font-size: var(--font-size);
  font-weight: 400;
  padding-left: 5px;
  cursor: pointer;
}

.form-check-input {
  display: inline-block;
  cursor: pointer;
}

.term {
  display: inline-block;
}

.checkbox:hover {
  border-color: var(--border-color-hover);
}

.btn {
  display: block;
  width: 100%;
  padding: 0.75em;
  font-size: var(--font-size);
  font-family: var(--font-family);
  font-weight: 400;
  border: 1px solid var(--button-background);
  border-radius: var(--border-radius);
  cursor: pointer;
}

.btn:hover {
  background-color: #0056b3;
}
