:root {
    --primary-color: #222;
    --secondary-color: #fff;
    --font-family: 'Open Sans', sans-serif;
    --font-weight-h2: 500;
    --font-size-h2: 35px;
    --font-size: 16px;
    --input-padding: 0.75em;
    --button-background: #0069d9;
    --button-color: #fff;
    --border-radius: 5px;
    --border-color: #ced4da;
    --border-color-hover: #80bdff;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #f8f9fa;
    color: #495057;
    font-family: var(--font-family);
  }
  
  .container {
    max-width: 500px;
    margin: 50px auto;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  form {
    margin-bottom: 15px;
  }
  
  h2 {
    text-align: center;
    color: var(--primary-color);
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px; 
    color: var(--primary-color);
  }
  
  .form-control {
    display: block;
    width: 100%;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    border: 1px solid var(--border-color);
    font-size: var(--font-size);
    font-family: var(--font-family);
    padding: var(--input-padding);
    border-radius: var(--border-radius);
    transition: border-color 0.2s ease;
  }
  
  .form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: var(--border-color-hover);
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
  
  .checkbox-label {
    display: block;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px; 
    color: var(--primary-color);
  }
  
  .btn-primary {
    display: block;
    width: 100%;
    color: var(--button-color);
    background-color: var(--button-background);
    border-color: var(--button-background);
    font-size: var(--font-size);
    font-family: var(--font-family);
    padding: var(--input-padding);
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
  }