/* Style for the banner section */
.hp-banner-section {
    padding: 16px 24px;
    background: #e0ecfc;
    background-image: -webkit-gradient(linear, right top, left top, color-stop(7%, #e0ecfc), to(#bcbcdd));
    background-image: linear-gradient( 174.2deg,  rgba(255,244,228,1) 7.1%, rgba(240,246,238,1) 67.4% );
}

.hp-banner-wrapper{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hp-banner-content{
    flex-grow: 1;
}

.hp-banner-content h1 {
  font-size: 2rem;
  color: #0056b3; /* Dark gray color */
  margin-bottom: 10px;
}

.hp-banner-content p {
  font-size: 1.3em;
  color: #555; /* Slightly darker gray color */
  line-height: 1.5;
  margin-bottom: 16px;
}

.hp-banner-img  {
  flex-shrink: 0;
  height: auto;
  max-width: 100%; /* Ensure the image stays responsive */
}

.slider-wrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    padding-top: 24px;
    padding-bottom: 24px;
}

.slider-wrapper .slider-title{
    font-size: 36px;
    font-weight: 600;
}

.slider-item-nav-img{
    width: 128px !important;
    height: 196px !important;
    object-fit: cover;
    -o-object-fit: cover;
}


#sliderHomepageBanner .slider-item img{
    width: 196px;
    height: auto;
}

#sliderHomepageBanner .slick-list .slick-track .slider-item{
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Style for the slider section */
/* Reset some default styles for the slider */
.slider-container,
.slider-for,
.slider-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Style for the main container */
.slider-container {
  max-width: 800px; /* Adjust the max-width as needed */
  margin: 20px auto;
}

/* Style for each slider item with spacing */
.slider-item {
  margin-right: 15px; /* Adjust the margin as needed for spacing */
  width: 100%;
  overflow: hidden; /* Hide the overflowing image */
}

/* Remove the right margin from the last slider item to avoid extra spacing */
.slider-item:last-child {
  margin-right: 0;
}

/* Style for the main slider */
.slider-for {
  width: 100%;
}

/* Style for the navigation slider */
.slider-nav {
  width: 100%;
  margin-top: 20px; /* Adjust as needed */
}

/* Style for the navigation slider items */
.slider-nav .slider-item {
  opacity: 0.7; /* Adjust opacity as needed */
  transition: opacity 0.3s ease-in-out;
}

/* Style for the selected navigation slider item */
.slider-nav .slick-center .slider-item {
  display: inline-block;
  opacity: 1;
  border: 2px solid #333; /* Adjust border color as needed */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); /* Adjust box shadow as needed */
}

/* Optional: Add some styling for the images */
.slider-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px; /* Optional: Add border-radius for a rounded corner effect */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle box shadow */
}

/* Style for the new release, top-rated, and top-borrowed sections (sample styling) */
.hp-new-release,
.hp-top-rated,
.hp-top-borrowed {
  margin-bottom: 20px;
}

.hp-new-release-title,
.hp-top-rated-title,
.hp-top-borrowed-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.hp-new-release-content,
.hp-top-rated-content,
.hp-top-borrowed-content {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.hp-new-release-book-info, .hp-top-rated-book-info, .hp-top-borrowed-book-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--bs-body-color);
}

.hp-new-release-book,
.hp-top-rated-book,
.hp-top-borrowed-book {
    text-decoration: none;
  border: 1px solid #ddd;
  margin: 0 10px 20px;
  padding: 24px;
  width: calc(33.33% - 20px);
  box-sizing: border-box;
  border-radius: var(--bs-border-radius) ;
}

.hp-new-release-book-img,
.hp-top-rated-book-img,
.hp-top-borrowed-book-img {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.hp-new-release-book-img img,
.hp-top-rated-book-img img,
.hp-top-borrowed-book-img img {
  display: block;
  width: 128px;
  height: auto;
  border-radius: 8px; /* Optional: Add border-radius for a rounded corner effect */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle box shadow */
}

.btn-borrow{
    margin-top: 1rem;
    min-width: 200px;
}

.hp-new-release{
    margin-top: 2rem;
}

@media only screen and (min-width: 768px) {
    .hp-banner-wrapper, .slider-wrapper, .container{
        max-width: 768px;
    }

    .hp-banner-section, .slider-wrapper{
        padding: 20px 32px ;
    }
}

@media only screen and (min-width: 992px) {
    .hp-banner-wrapper, .slider-wrapper, .container{
        margin-left: auto;
        margin-right: auto;
        max-width: 960px;
    }

    .hp-banner-section, .slider-wrapper{
        padding: 36px 0;
    }
    .hp-banner-wrapper{
        flex-direction: row;
    }
    .hp-banner-content h1{
        font-size: 4rem;
    }
    .hp-banner-img {
        margin-left: 24px;
        width: 465px;
    }
    .slider-wrapper{
        flex-direction: row;
    }

    .slider-title{
        width: 600px;
    }
    .slider-container{
        width: 512px;
    }
}

@media only screen and (min-width: 1200px){
    .hp-banner-wrapper, .slider-wrapper, .container{
        max-width: 1140px;
    }
}

@media only screen and (min-width: 1400px){
    .hp-banner-wrapper, .slider-wrapper, .container{
        max-width: 1320px;
    }
}





