*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root{
    --success-color: #2691d9;
    --error-color: #e74c3c;
    --bs-body-color: #1f1f1f;
    --bs-body-bg: #ffffff;
    --bs-border-color: #dee2e6;
    --bs-border-radius: 4px;
    --bs-danger: #dc3545;
}

/* General Styles */
body {
    margin: 0;
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 16px;
    line-height: 1.5;
    color: var(--bs-body-color);
    background: var(--bs-body-bg);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

/* Header Styles */
#rw-main-header {
    background-color: #333;
    color: white;

    /* Add the following to make the header sticky */
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1020;
}

.rw-header-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px 24px;
}


.header-brand{
    flex-shrink: 0;
    display: flex;
    align-items: center;
}

.header-brand-logo{
    flex-shrink: 0;
    width: 48px;
    max-width: 100%;
    height: auto;
}

.header-brand-text{
    flex-grow: 1;
    margin-left: 4px;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
}

.rw-header-container a {
    text-decoration: none;
    color: white;
}

.header-extensions{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

/* Navigation Styles */
#rw-main-nav {
    flex-grow: 1;
    display: flex;
    align-items: center;
    margin-left: 40px;
}
#rw-main-nav ul li a {
    color: white;
    text-decoration: none;
    padding: 5px;
    display: block;
}

#rw-main-nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
}

#rw-main-nav li {
    position: relative;
    margin-right: 15px;
}

#rw-main-nav a {
    text-decoration: none;
    color: white;
    position: relative;
}

#rw-main-nav a:hover {
    color: #007bff;
}

/* Submenu Styles */
#rw-main-nav ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

#rw-main-nav ul li:hover > ul {
    display: flex;
    flex-direction: column;
}

#rw-main-nav ul ul li {
    width: 150px;
    padding: 10px;
    margin: 0;
}

/* User Profile Styles */
.rw-user-profile {
    position: relative;
    cursor: pointer;
}

.rw-user-profile-name {
    margin-right: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.rw-user-profile-name span {
    margin-right: 5px;
}

.rw-user-profile-options {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #333;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.rw-user-profile:hover .rw-user-profile-options {
    display: flex;
    flex-direction: column;
}

.rw-user-profile-options a {
    padding: 10px;
    text-decoration: none;
    color: white;
}

.rw-user-profile-options a:hover {
    background-color: #555;
}

/* Search, Notification, and Cart Styles */
#rw-search{
    margin-right: 8px;
}

#rw-search input {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: 1px solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

#rw-search button {
    padding: 5px;
    cursor: pointer;
    background-color: #555;
    color: white;
    border: none;
    height: 30px;
    width: 30px;
}

#rw-search button:hover {
    background-color: #0056b3;
}

#rw-noti a,
#rw-cart a {
    margin-left: 5px;
    text-decoration: none;
    color: white;
}

#rw-noti:hover,
#rw-cart:hover {
    color: yellow;
}

.header-extensions #rw-login{
    margin-right: 8px;
}

/* Style for the footer */
.rw-footer {
    margin-top: 64px;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 16px;
}

.btn{
    --bs-btn-padding-x: 0.75rem;
    --bs-btn-padding-y: 0.375rem;
    --bs-btn-font-family: ;
    --bs-btn-font-size: 1rem;
    --bs-btn-font-weight: 400;
    --bs-btn-line-height: 1.5;
    --bs-btn-color: var(--bs-body-color);
    --bs-btn-bg: transparent;
    --bs-btn-border-width: 1px;
    --bs-btn-border-color: transparent;
    --bs-btn-border-radius: var(--bs-border-radius);
    --bs-btn-hover-border-color: transparent;
    --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),0 1px 1px rgba(0, 0, 0, 0.075);
    --bs-btn-disabled-opacity: 0.65;
    --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), .5);
    display: inline-block;
    padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
    font-family: var(--bs-btn-font-family);
    font-size: var(--bs-btn-font-size);
    font-weight: var(--bs-btn-font-weight);
    line-height: var(--bs-btn-line-height);
    color: var(--bs-btn-color);
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
    border-radius: var(--bs-btn-border-radius);
    background-color: var(--bs-btn-bg);
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


.btn-primary{
    --bs-btn-color: #fff;
    --bs-btn-bg: #0d6efd;
    --bs-btn-border-color: #0d6efd;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #0b5ed7;
    --bs-btn-hover-border-color: #0a58ca;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #0a58ca;
    --bs-btn-active-border-color: #0a53be;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #0d6efd;
    --bs-btn-disabled-border-color: #0d6efd;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: 1px solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-select {
    --bs-form-select-bg-img: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
    display: block;
    width: 100%;
    padding: 0.375rem 2.25rem 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--bs-body-bg);
    background-image: var(--bs-form-select-bg-img);
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
    border: 1px solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-label{
    display: block;
    margin-bottom: 8px;
}

.container{
    padding: 16px 24px;
}

@media only screen and (min-width: 768px) {
    .rw-header-container{
        padding: 16px 32px;
    }
    .container{
        max-width: 768px;
        padding: 20px 32px ;
    }
}

@media only screen and (min-width: 992px) {
    #rw-main-header .rw-header-container{
        max-width: 960px;
        flex-direction: row;
        margin-left: auto;
        margin-right: auto;
        padding: 16px 0;
    }
    .container{
        margin-left: auto;
        margin-right: auto;
        max-width: 960px;
    }
}

@media only screen and (min-width: 1200px){
    #rw-main-header .rw-header-container{
        max-width: 1140px;
    }
    .container{
        max-width: 1140px;
    }
}

@media only screen and (min-width: 1400px){
    .container{
        max-width: 1320px;
    }
    #rw-main-header .rw-header-container{
        max-width: 1320px;
    }
}
