
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --success-color: rgba(0,0,205);
    --error-color: #e74c3c;
    --hover: rgba(0,0,128);
    --main-color:  #231c14;
}

html {
    color: #333;
    font-family: 'Open Sans', sans-serif;
}

body{
    width: 100%;
    background: #E5E7EB;
    position: relative;  
}

.main{
    display: flex;
    
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

#menu{
    background-color: var(--main-color);
    width: 15rem;
    height: 100%;
    position: fixed;
    top: 0;  
    bottom: 0;
}

#menu .logo{
    display: flex;
    align-items: center;
    color: #fff;
    padding: 1rem 0 0 1rem;
}

#menu img{
    width: 4rem;
    margin-right: 0.5rem;
}

#menu .icon{
    min-width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(134, 141, 152);
}

#menu .side-menu{
    margin: 36px 0;
    padding: 0 20px;
}

#menu .side-menu a{
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #fff;
    padding: 12px 16px 12px 0;
    transition: all .3s ease;
    border-radius: 10px;
    grid-gap: 6px;
}

#menu .side-menu a:hover{
    color: rgb(134, 141, 151);
    
}

#menu .side-menu a.active {
    background-color: #253047;
}


#menu .side-dropdown{
    padding-left: 56px;
    max-height: 0;
    overflow-y: hidden;
    transition: all .15s ease;
}

#menu .side-dropdown a:hover{
    color: rgb(134, 141, 151);
}

#menu .side-dropdown.show{
    max-height: 1000px;
}

#interface{
    width: calc(100% - 200px);
    margin-left: 240px;
    position: relative;
}

#interface .navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 15px 30px;
    border-bottom: 3px solid #231c14;
    position: fixed;
    width: calc(100% - 240px);
}

.search-info{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#menu-btn{
    color: #2b2b2b;
    font-size: 20px;
    cursor: pointer;
    margin-right: 20px;
    display: none;
}

#interface .navigation .search{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 14px;
    border: 1px solid #d7dbe6;
    border-radius: 4px;
}

#interface .navigation .search input{
    border: none;
    outline: none;
    font-size: 14px;
}

#interface .navigation .search i{
    margin-right: 14px;
}

#interface .navigation .profile{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}

#interface .navigation .profile i{
    margin-right: 20px;
    font-size: 19px;
    font-weight: 400;

}

#interface .navigation .profile img{
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;

}

#interface .navigation .profile:hover{
    cursor: pointer;
}

.sub-menu-wrap{
    position: absolute;
    top: 100%;
    right: 3%;
    width: 260px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
}

.sub-menu-wrap.open-menu{
    max-height: 400px;
}

.sub-menu{
    background-color: #f6f6f6;
    padding: 20px;
    margin: 10px;
}

.user-info{
    display: flex;
    align-items: center;
}

.user-info img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;

}

.user-info h3{
    font-size: 16px;
    font-weight: 400;
    padding: 10px;
}

.sub-menu hr{
    border: 0;
    height: 1px;
    width: 100%;
    background: #ccc;
    margin: 15px 0 10px;
}

.log-out{
    display: flex;
    
}

.sub-menu-link{
    color: #525252;
}

.chev-icon{
    margin-left: 133px;
}

.log-out:hover{
    font-weight: 600; 
}

.board{
    width: 94%;
    margin: 100px 30px 30px 30px;
    overflow: auto;
    background: #fff;
    border-radius: 8px;
}

.board img{
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 15px;
}

.board h5{
    font-weight: 600;
    font-size: 14px;
}

.board p{
    font-weight: 400;
    font-size: 13px;
    color: #787d8d;
}

.board .people{
    display: flex;
    justify-content: flex-start;
    text-align: start;
    align-items: center;
}

table{
    border-collapse: collapse;
}

tr{
    border-bottom: 1px solid #eef0f3;
}

thead td{
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
    background: #F9FAFB;
    text-align: start;
    padding: 15px;
}

tbody tr td{
    padding: 10px 15px;
}

.activet p{
    background: #d7fada ;
    padding: 2px 10px;
    display: inline-block;
    border-radius: 40px;
    color: #2b2b2b;
}

.edit{
    font-size: 14px;
    color: #554cd1;
    font-weight: 600;
}

.delete{
    font-size: 14px;
    color: #554cd1;
    font-weight: 600;

}

.header-board{
    display: flex;
    justify-content: end;
    padding: 10px 20px;
    background-color: #231c14;
}

.add {
    padding: 10px;
    width: 100px;
    border: 0;
    border-radius: 5px;
    background-color: var(--success-color);
    color: #ffffff;
    text-align: center;
    font-weight: Bold;
    
  }
  
  .add:hover {
    cursor: pointer;
    background-color: var(--hover);
  }
  


  /*Modal add*/
  .modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    display: none;
    align-items: center;
    justify-content: center;
  }

  .modal.open{
    display: flex;
  }

  .modal-container{
    background: #fff;
    width: 300px;
    min-height: 400px;
    position: relative;
  }

  .modal-close{
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px;
    cursor: pointer;
  }

  .modal-header{
    background-color: var(--success-color);
    height: 45px;
    display: flex;
    align-items: center;
    padding-left: 25px;
    font-size: 17px;
    color: #fff;
  }

  label{
    display: block;
    font-size: 12px;
    margin-bottom: 5px;
  }

  .modal-input{
    border: 1px solid #ccc;
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;

  }

  select{
    display: block;
  }

  .modal-body{
    padding: 16px;
  }

  .img-area{
    position: relative;
    width: 120px;
    height: 100px;
    background: #f2f2f2;
    margin-bottom: 10px;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .img-area img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  .upload-icon{
    font-size: 20px;
  }

  .img-area h3{
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 6px;
  }

  .img-button{
    display: flex;
  }

  .select-img{
    display: block;
    width: 20%;
    padding: 5px 0;
    margin-bottom: 10px;
    border-radius: 15px;
    font-size: 10px;
    background-color:  var(--success-color);
    color: #fff;
    outline: none;
    border: none;
    cursor: pointer;
    margin-right: 12px;
  }

button.submit{
    float: right;
    width: 20%;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 8px;
    color: #fff;
    padding: 5px;
    background-color: var(--success-color);
    border-radius: 10px;
    border: none;
    outline: none;
}

.submit:hover{
    cursor: pointer;
    background-color: var(--hover);
}

  @media (max-width: 769px)
  {
    #menu{
        width: 270px;
        position: fixed;
        left: -270px;
        transition: 0.3s ease;
    }

    #menu.activec{
        left: 0;
        
    }

    #menu-btn{
        display: initial;
    }

    #interface{
        width: 100%;
        margin-left: 0px;
        display: inline-block;
    }

    #menu.activec ~ #interface{
        width: calc(100% -240px);
        margin-left: 270px;
        

    }
    #interface .navigation{
        width: 100%;
    }

    .board{
        width: 94%;
        padding: 0;
        overflow-x: auto;
        margin: 100px 30px 30px 20px;
    }

    .table{
        width: 100%;
        border-collapse: collapse;
    }
  }

  @media (max-width: 477px){
    #interface .navigation{
        padding: 15px;
    }

    #interface .navigation .search input{
        width: 150px;

    }

    .header-board{
        width: 620px;
        overflow: hidden;
    }
  }

