/* Style for the banner section */
.hp-banner-section {
    background: #e0ecfc;
    background-image: -webkit-gradient(linear, right top, left top, color-stop(7%, #fff1eb), to(#ace0f9));
    background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}

.hp-banner-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hp-banner-content{
    padding: 2rem 2rem 3rem;
    width: 100%;
    background: white linear-gradient(to right, #ECE9E6 0%, #FFFFFF 51%, #ECE9E6 100%);
    border-radius: var(--bs-border-radius);
    margin-top: 4rem;
}

.hp-banner-title {
    color: #0056b3; /* Dark gray color */
    text-align: center;
    margin-bottom: 16px;
    margin-top: 0;
}

.hp-banner-img  {
    margin-bottom: 24px;
    max-width: 100%; /* Ensure the image stays responsive */
    object-fit: cover;
    -o-object-fit: cover;
}

@media only screen and (min-width: 992px) {
    .hp-banner-img{
        width: 512px;
        height: auto;
        max-width: 100%;
        object-fit: cover;
        -o-object-fit: cover;
    }
}


.sb-search-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.sb-search-keyword{
    flex-grow: 1;
}


@media only screen and (max-width: 768px) {
    .sb-search-item{
        width: 100%;
    }
    .sb-search-btn button{
        margin-top: 16px;
        width: 100%;
    }
    .label-btn-search{
        display: none;
    }
}

/* Style for the new release, top-rated, and top-borrowed sections (sample styling) */
.hp-new-release,
.hp-top-rated,
.hp-top-borrowed {
    margin-bottom: 20px;
}

.hp-new-release-title,
.hp-top-rated-title,
.hp-top-borrowed-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.hp-new-release-content,
.hp-top-rated-content,
.hp-top-borrowed-content {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.hp-new-release-book-info, .hp-top-rated-book-info, .hp-top-borrowed-book-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--bs-body-color);
}

.hp-new-release-book,
.hp-top-rated-book,
.hp-top-borrowed-book {
    text-decoration: none;
    border: 1px solid #ddd;
    margin: 0 10px 20px;
    padding: 24px;
    width: calc(33.33% - 20px);
    box-sizing: border-box;
    border-radius: var(--bs-border-radius) ;
}

.hp-new-release-book-img,
.hp-top-rated-book-img,
.hp-top-borrowed-book-img {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.hp-new-release-book-img img,
.hp-top-rated-book-img img,
.hp-top-borrowed-book-img img {
    display: block;
    width: 128px;
    height: auto;
    border-radius: 8px; /* Optional: Add border-radius for a rounded corner effect */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle box shadow */
}

.btn-borrow{
    margin-top: 16px;
    min-width: 200px;
}

@media only screen and (min-width: 768px) {
    .container{
        max-width: 768px;
        padding: 20px 32px ;
    }
}

@media only screen and (min-width: 992px) {
    .container{
        margin-left: auto;
        margin-right: auto;
        max-width: 960px;
    }
    .sb-search-wrapper{
        flex-direction: row;
    }
    .hp-banner-content{
        margin-top: 6rem;
        width: 80%;
    }
}

@media only screen and (min-width: 1200px){
    .container{
        max-width: 1140px;
    }
}

@media only screen and (min-width: 1400px){
    .container{
        max-width: 1320px;
    }
}
