# Nuxt dev/build outputs
.output
.nuxt
.nitro
.cache
.gitlab
dist
stove-ui

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# locale file
i18n/default
i18n/fallback
